@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;

}

body {
    background-color: #1a1e34;
}

.container {
    margin: 0;
    padding: 0;
}

.esqueci {
    padding: 2.5rem;
    font-size: 125%;
    color: white;
}

.email {
    margin: 1rem 3rem;
    color: white;
}

.caixa {
    display: flex;
    height: 40px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.caixa input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 25px;
    border-color: white;
    outline: none;
    color: white;
    padding: 5px 20px 5px 20px;
}

.botao {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 2.5rem;
}

.enviar {
    color: white;
    background-color: #41b8d5;
    border-radius: 15px;
    width: 100%;
    height: 3rem;
    border-style: none;
    transition: background-color 0.3s;
    cursor: pointer;

}

.enviar:hover {
    background-color: #3694b9;
}
@media (min-width: 999px) {
    #telaEsqueci {
        display: flex;
        justify-content: center;
    }

    .container {
        margin-top: 4rem;
        padding-bottom: 5rem;
        background-color: #131630;
        border: 5px solid;
        border-color: #131630;
        border-radius: 8px;
        width: 700px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);


    }

    .botao {
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 2.5rem;
    }

    .enviar {
        color: white;
        background-color: #41b8d5;
        border-radius: 15px;
        width: 100%;
        height: 3rem;
        border-style: none;
        transition: background-color 0.3s;
        cursor: pointer;

    }

    .enviar:hover {
        background-color: #3694b9;
    }

}